
@font-face {
    font-family: 'Verlag Light';
    src: url('fonts/verlag-light-webfont.eot');
    src: url('fonts/verlag-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/verlag-light-webfont.woff') format('woff'),
    url('fonts/verlag-light-webfont.ttf') format('truetype'),
    url('fonts/verlag-light-webfont.svg#verlaglight') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
    url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal; font-style: normal;
}



/* Table of Contents
==================================================
    #Defaults
    #General Classes
    #Responsive Classes */

/* Defaults
============================= */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

input::-moz-focus-inner { border: 0; }

ul.none, ul.disc, ul.circle, ul.square { padding-left: 40px; }
ul.none, ul.none > li     { list-style-type: none; }
ul.disc, ul.disc > li     { list-style-type: disc; }
ul.circle, ul.circle > li { list-style-type: circle; }
ul.square, ul.square > li { list-style-type: square; }

ol.decimal, ol.decimal > li         { list-style-type: decimal; }
ol.decimal-leading-zero,
ol.decimal-leading-zero > li        { list-style-type: decimal-leading-zero; }
ol.lower-alpha, ol.lower-alpha > li { list-style-type: lower-alpha; }
ol.lower-roman, ol.lower-roman > li { list-style-type: lower-roman; }
ol.upper-alpha, ol.upper-alpha > li { list-style-type: upper-alpha; }
ol.upper-roman, ol.upper-roman > li { list-style-type: upper-roman; }

iframe[seamless]{ background-color: transparent; border: 0 none transparent; padding: 0; overflow: hidden; }

/* General Classes
============================= */
div.outdated-browser { background-color: #AA0000; color: #fff; display: block; padding: 2px; margin: 0px; text-align: center; }
div.outdated-browser a,
div.outdated-browser a:visited { color: #ddd; text-decoration: none; }
div.outdated-browser a:hover,
div.outdated-browser a:visited:hover { color: #999; }

.pointer { cursor: pointer; }

.unselectable, .unselectable * {
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;
    -moz-user-select: none; -ms-user-select: none; user-select: none; }

.blur { filter: blur(5px); -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); }

.font-0, a.font-0, a.font-0:visited { font-size: 0; }
.font-10, a.font-10, a.font-10:visited { font-size: 10px; }
.font-11, a.font-11, a.font-11:visited { font-size: 11px; }
.font-12, a.font-12, a.font-12:visited { font-size: 12px; }
.font-13, a.font-13, a.font-13:visited { font-size: 13px; }
.font-14, a.font-14, a.font-14:visited { font-size: 14px; }
.font-15, a.font-15, a.font-15:visited { font-size: 15px; }
.font-16, a.font-16, a.font-16:visited { font-size: 16px; }
.font-17, a.font-17, a.font-17:visited { font-size: 17px; }
.font-18, a.font-18, a.font-18:visited { font-size: 18px; }
.font-19, a.font-19, a.font-19:visited { font-size: 19px; }
.font-20, a.font-20, a.font-20:visited { font-size: 20px; }
.font-21, a.font-21, a.font-21:visited { font-size: 21px; }
.font-22, a.font-22, a.font-22:visited { font-size: 22px; }
.font-23, a.font-23, a.font-23:visited { font-size: 23px; }
.font-24, a.font-24, a.font-24:visited { font-size: 24px; }
.font-25, a.font-25, a.font-25:visited { font-size: 25px; }
.font-30, a.font-30, a.font-30:visited { font-size: 30px; }
.font-34, a.font-34, a.font-34:visited { font-size: 34px; }
.font-44, a.font-44, a.font-44:visited { font-size: 44px; }
.font-54, a.font-54, a.font-54:visited { font-size: 54px; }

.line-0, a.line-0, a.line-0:visited { line-height: 0; }
.line-10, a.line-10, a.line-10:visited { line-height: 10px; }
.line-11, a.line-11, a.line-11:visited { line-height: 11px; }
.line-12, a.line-12, a.line-12:visited { line-height: 12px; }
.line-13, a.line-13, a.line-13:visited { line-height: 13px; }
.line-14, a.line-14, a.line-14:visited { line-height: 14px; }
.line-15, a.line-15, a.line-15:visited { line-height: 15px; }
.line-16, a.line-16, a.line-16:visited { line-height: 16px; }
.line-17, a.line-17, a.line-17:visited { line-height: 17px; }
.line-18, a.line-18, a.line-18:visited { line-height: 18px; }
.line-19, a.line-19, a.line-19:visited { line-height: 19px; }
.line-20, a.line-20, a.line-20:visited { line-height: 20px; }
.line-21, a.line-21, a.line-21:visited { line-height: 21px; }
.line-22, a.line-22, a.line-22:visited { line-height: 22px; }
.line-23, a.line-23, a.line-23:visited { line-height: 23px; }
.line-24, a.line-24, a.line-24:visited { line-height: 24px; }
.line-25, a.line-25, a.line-25:visited { line-height: 25px; }
.line-30, a.line-30, a.line-30:visited { line-height: 30px; }
.line-34, a.line-34, a.line-34:visited { line-height: 34px; }
.line-44, a.line-44, a.line-44:visited { line-height: 44px; }
.line-54, a.line-54, a.line-54:visited { line-height: 54px; }

.visibility-hidden  { visibility: hidden !important; }
.visibility-visible { visibility: visible !important; }

.hidden, a.hidden, a.hidden:visited                         { display: none !important; }
.block, a.block, a.block:visited                            { display: block !important; }
.display-table, a.display-table, a.display-table:visited    { display: table !important; }
.table-row, a.table-row, a.table-row:visited                { display: table-row !important; }
.table-cell, a.table-cell, a.table-cell:visited             { display: table-cell !important; }
.inline, a.inline, a.inline:visited                         { display: inline !important; }
.inline-block, a.inline-block, a.inline-block:visited       { display: inline-block !important; }
.inline-flex, a.inline-flex, a.inline-flex:visited          { display: inline-block !important; display: inline-flex !important; }

.formField { display: none !important; }

.m-auto    { margin:        auto !important; }
.m-lr-auto { margin-left:   auto !important; margin-right:  auto !important; }
.m-tb-auto { margin-top:    auto !important; margin-bottom: auto !important; }
.m-t-auto  { margin-top:    auto !important; }
.m-r-auto  { margin-right:  auto !important; }
.m-b-auto  { margin-bottom: auto !important; }
.m-l-auto  { margin-left:   auto !important; }

.m-0    { margin:        0px !important; }
.m-lr-0 { margin-left:   0px !important; margin-right:  0px !important; }
.m-tb-0 { margin-top:    0px !important; margin-bottom: 0px !important; }
.m-t-0  { margin-top:    0px !important; }
.m-r-0  { margin-right:  0px !important; }
.m-b-0  { margin-bottom: 0px !important; }
.m-l-0  { margin-left:   0px !important; }

.m-5    { margin:        5px !important; }
.m-lr-5 { margin-left:   5px !important; margin-right:  5px !important; }
.m-tb-5 { margin-top:    5px !important; margin-bottom: 5px !important; }
.m-t-5  { margin-top:    5px !important; }
.m-r-5  { margin-right:  5px !important; }
.m-b-5  { margin-bottom: 5px !important; }
.m-l-5  { margin-left:   5px !important; }

.m-10    { margin:        10px !important; }
.m-lr-10 { margin-left:   10px !important; margin-right:  10px !important; }
.m-tb-10 { margin-top:    10px !important; margin-bottom: 10px !important; }
.m-t-10  { margin-top:    10px !important; }
.m-r-10  { margin-right:  10px !important; }
.m-b-10  { margin-bottom: 10px !important; }
.m-l-10  { margin-left:   10px !important; }

.m-15    { margin:        15px !important; }
.m-lr-15 { margin-left:   15px !important; margin-right:  15px !important; }
.m-tb-15 { margin-top:    15px !important; margin-bottom: 15px !important; }
.m-t-15  { margin-top:    15px !important; }
.m-r-15  { margin-right:  15px !important; }
.m-b-15  { margin-bottom: 15px !important; }
.m-l-15  { margin-left:   15px !important; }

.m-20    { margin:        20px !important; }
.m-lr-20 { margin-left:   20px !important; margin-right:  20px !important; }
.m-tb-20 { margin-top:    20px !important; margin-bottom: 20px !important; }
.m-t-20  { margin-top:    20px !important; }
.m-r-20  { margin-right:  20px !important; }
.m-b-20  { margin-bottom: 20px !important; }
.m-l-20  { margin-left:   20px !important; }

.m-25    { margin:        25px !important; }
.m-lr-25 { margin-left:   25px !important; margin-right:  25px !important; }
.m-tb-25 { margin-top:    25px !important; margin-bottom: 25px !important; }
.m-t-25  { margin-top:    25px !important; }
.m-r-25  { margin-right:  25px !important; }
.m-b-25  { margin-bottom: 25px !important; }
.m-l-25  { margin-left:   25px !important; }

.m-30    { margin:        30px !important; }
.m-lr-30 { margin-left:   30px !important; margin-right:  30px !important; }
.m-tb-30 { margin-top:    30px !important; margin-bottom: 30px !important; }
.m-t-30  { margin-top:    30px !important; }
.m-r-30  { margin-right:  30px !important; }
.m-b-30  { margin-bottom: 30px !important; }
.m-l-30  { margin-left:   30px !important; }

.m-40    { margin:        40px !important; }
.m-lr-40 { margin-left:   40px !important; margin-right:  40px !important; }
.m-tb-40 { margin-top:    40px !important; margin-bottom: 40px !important; }
.m-t-40  { margin-top:    40px !important; }
.m-r-40  { margin-right:  40px !important; }
.m-b-40  { margin-bottom: 40px !important; }
.m-l-40  { margin-left:   40px !important; }

.m-50    { margin:        50px !important; }
.m-lr-50 { margin-left:   50px !important; margin-right:  50px !important; }
.m-tb-50 { margin-top:    50px !important; margin-bottom: 50px !important; }
.m-t-50  { margin-top:    50px !important; }
.m-r-50  { margin-right:  50px !important; }
.m-b-50  { margin-bottom: 50px !important; }
.m-l-50  { margin-left:   50px !important; }

.m-75    { margin:        75px !important; }
.m-lr-75 { margin-left:   75px !important; margin-right:  75px !important; }
.m-tb-75 { margin-top:    75px !important; margin-bottom: 75px !important; }
.m-t-75  { margin-top:    75px !important; }
.m-r-75  { margin-right:  75px !important; }
.m-b-75  { margin-bottom: 75px !important; }
.m-l-75  { margin-left:   75px !important; }

.m-100    { margin:        100px !important; }
.m-lr-100 { margin-left:   100px !important; margin-right:  100px !important; }
.m-tb-100 { margin-top:    100px !important; margin-bottom: 100px !important; }
.m-t-100  { margin-top:    100px !important; }
.m-r-100  { margin-right:  100px !important; }
.m-b-100  { margin-bottom: 100px !important; }
.m-l-100  { margin-left:   100px !important; }

.m-150    { margin:        150px !important; }
.m-lr-150 { margin-left:   150px !important; margin-right:  150px !important; }
.m-tb-150 { margin-top:    150px !important; margin-bottom: 150px !important; }
.m-t-150  { margin-top:    150px !important; }
.m-r-150  { margin-right:  150px !important; }
.m-b-150  { margin-bottom: 150px !important; }
.m-l-150  { margin-left:   150px !important; }

.p-0    { padding:        0px !important; }
.p-lr-0 { padding-left:   0px !important; padding-right:  0px !important; }
.p-tb-0 { padding-top:    0px !important; padding-bottom: 0px !important; }
.p-t-0  { padding-top:    0px !important; }
.p-r-0  { padding-right:  0px !important; }
.p-b-0  { padding-bottom: 0px !important; }
.p-l-0  { padding-left:   0px !important; }

.p-5    { padding:        5px !important; }
.p-lr-5 { padding-left:   5px !important; padding-right:  5px !important; }
.p-tb-5 { padding-top:    5px !important; padding-bottom: 5px !important; }
.p-t-5  { padding-top:    5px !important; }
.p-r-5  { padding-right:  5px !important; }
.p-b-5  { padding-bottom: 5px !important; }
.p-l-5  { padding-left:   5px !important; }

.p-10    { padding:        10px !important; }
.p-lr-10 { padding-left:   10px !important; padding-right:  10px !important; }
.p-tb-10 { padding-top:    10px !important; padding-bottom: 10px !important; }
.p-t-10  { padding-top:    10px !important; }
.p-r-10  { padding-right:  10px !important; }
.p-b-10  { padding-bottom: 10px !important; }
.p-l-10  { padding-left:   10px !important; }

.p-15    { padding:        15px !important; }
.p-lr-15 { padding-left:   15px !important; padding-right:  15px !important; }
.p-tb-15 { padding-top:    15px !important; padding-bottom: 15px !important; }
.p-t-15  { padding-top:    15px !important; }
.p-r-15  { padding-right:  15px !important; }
.p-b-15  { padding-bottom: 15px !important; }
.p-l-15  { padding-left:   15px !important; }

.p-20    { padding:        20px !important; }
.p-lr-20 { padding-left:   20px !important; padding-right:  20px !important; }
.p-tb-20 { padding-top:    20px !important; padding-bottom: 20px !important; }
.p-t-20  { padding-top:    20px !important; }
.p-r-20  { padding-right:  20px !important; }
.p-b-20  { padding-bottom: 20px !important; }
.p-l-20  { padding-left:   20px !important; }

.p-25    { padding:        25px !important; }
.p-lr-25 { padding-left:   25px !important; padding-right:  25px !important; }
.p-tb-25 { padding-top:    25px !important; padding-bottom: 25px !important; }
.p-t-25  { padding-top:    25px !important; }
.p-r-25  { padding-right:  25px !important; }
.p-b-25  { padding-bottom: 25px !important; }
.p-l-25  { padding-left:   25px !important; }

.p-30    { padding:        30px !important; }
.p-lr-30 { padding-left:   30px !important; padding-right:  30px !important; }
.p-tb-30 { padding-top:    30px !important; padding-bottom: 30px !important; }
.p-t-30  { padding-top:    30px !important; }
.p-r-30  { padding-right:  30px !important; }
.p-b-30  { padding-bottom: 30px !important; }
.p-l-30  { padding-left:   30px !important; }

.p-40    { padding:        40px !important; }
.p-lr-40 { padding-left:   40px !important; padding-right:  40px !important; }
.p-tb-40 { padding-top:    40px !important; padding-bottom: 40px !important; }
.p-t-40  { padding-top:    40px !important; }
.p-r-40  { padding-right:  40px !important; }
.p-b-40  { padding-bottom: 40px !important; }
.p-l-40  { padding-left:   40px !important; }

.p-50    { padding:        50px !important; }
.p-lr-50 { padding-left:   50px !important; padding-right:  50px !important; }
.p-tb-50 { padding-top:    50px !important; padding-bottom: 50px !important; }
.p-t-50  { padding-top:    50px !important; }
.p-r-50  { padding-right:  50px !important; }
.p-b-50  { padding-bottom: 50px !important; }
.p-l-50  { padding-left:   50px !important; }

.p-75    { padding:        75px !important; }
.p-lr-75 { padding-left:   75px !important; padding-right:  75px !important; }
.p-tb-75 { padding-top:    75px !important; padding-bottom: 75px !important; }
.p-t-75  { padding-top:    75px !important; }
.p-r-75  { padding-right:  75px !important; }
.p-b-75  { padding-bottom: 75px !important; }
.p-l-75  { padding-left:   75px !important; }

.p-100    { padding:        100px !important; }
.p-lr-100 { padding-left:   100px !important; padding-right:  100px !important; }
.p-tb-100 { padding-top:    100px !important; padding-bottom: 100px !important; }
.p-t-100  { padding-top:    100px !important; }
.p-r-100  { padding-right:  100px !important; }
.p-b-100  { padding-bottom: 100px !important; }
.p-l-100  { padding-left:   100px !important; }

.p-150    { padding:        150px !important; }
.p-lr-150 { padding-left:   150px !important; padding-right:  150px !important; }
.p-tb-150 { padding-top:    150px !important; padding-bottom: 150px !important; }
.p-t-150  { padding-top:    150px !important; }
.p-r-150  { padding-right:  150px !important; }
.p-b-150  { padding-bottom: 150px !important; }
.p-l-150  { padding-left:   150px !important; }

.align-center  { text-align:     center; }
.align-middle  { vertical-align: middle; }
.align-justify { text-align:     justify; }
.align-top     { vertical-align: top; }
.align-right   { text-align:     right; }
.align-bottom  { vertical-align: bottom; }
.align-left    { text-align:     left; }

.relative { position: relative !important; }
.absolute { position: absolute !important; }
.fixed    { position: fixed !important; }
.top      { top:    0; }
.top50    { top:    50%; }
.top-50   { top:    -50%; }
.right    { right:  0; }
.bottom   { bottom: 0; }
.left     { left:   0; }
.left50   { left:   50%; }
.left-50  { left:   -50%; }

.z-0  { z-index: 0; }
.z-1  { z-index: 1; }
.z-2  { z-index: 2; }
.z-3  { z-index: 3; }
.z-4  { z-index: 4; }
.z-5  { z-index: 5; }
.z-6  { z-index: 6; }
.z-7  { z-index: 7; }
.z-8  { z-index: 8; }
.z-9  { z-index: 9; }
.z-10 { z-index: 10; }
.z-11 { z-index: 11; }
.z-12 { z-index: 12; }
.z-13 { z-index: 13; }
.z-14 { z-index: 14; }
.z-15 { z-index: 15; }
.z-16 { z-index: 16; }
.z-17 { z-index: 17; }
.z-18 { z-index: 18; }
.z-19 { z-index: 19; }
.z-20 { z-index: 20; }
.z-21 { z-index: 21; }
.z-22 { z-index: 22; }
.z-23 { z-index: 23; }
.z-24 { z-index: 24; }
.z-25 { z-index: 25; }
.z-999 { z-index: 999; }
.z-9999 { z-index: 999; }

.overflow-hidden  { overflow: hidden; }
.overflow-visible { overflow: visible; }
.overflow-scroll  { overflow: scroll; }
.overflow-auto    { overflow: auto; }

.overflow-x-hidden  { overflow-x: hidden; }
.overflow-x-visible { overflow-x: visible; }
.overflow-x-scroll  { overflow-x: scroll; }
.overflow-x-auto    { overflow-x: auto; }

.overflow-y-hidden  { overflow-y: hidden; }
.overflow-y-visible { overflow-y: visible; }
.overflow-y-scroll  { overflow-y: scroll; }
.overflow-y-auto    { overflow-y: auto; }

.text-overflow-ellipsis { text-overflow: ellipsis; }

.float-none  { float: none; }
.float-right { float: right; }
.float-left  { float: left; }

.font-normal    { font-weight: normal; }
.font-bold      { font-weight: bold; }
.font-italic    { font-style: italic; }
.font-oblique   { font-style: oblique; }
.font-inherit   { font-style: inherit; }
.font-uppercase { text-transform: uppercase; }
.font-lowercase { text-transform: lowercase; }
.font-nowrap    { white-space: nowrap; }
.font-wrap 		{ white-space: normal!important;}

.width-auto  { width:  auto !important; }
.height-auto { height: auto !important; }

.full-width  { width:  100%; }
.full-height { height: 100%; }
.full-max-width  { max-width:  100%; }
.full-max-height { max-height: 100%; }
.full-min-width  { min-width:  100%; }
.full-min-height { min-height: 100%; }

.bg-repeat { background-repeat: repeat; }
.bg-no-repeat { background-repeat: no-repeat; }
.bg-repeat-x { background-repeat: repeat-x; }
.bg-repeat-y { background-repeat: repeat-y; }

.bg-center { background-position: center center; }
.bg-left-top { background-position: left top; }
.bg-left-center { background-position: left center; }
.bg-left-bottom { background-position: left bottom; }
.bg-right-top { background-position: right top; }
.bg-right-center { background-position: right center; }
.bg-right-bottom { background-position: right bottom; }

/* Responsive Classes
============================= */

/* Media Query Based Alignmenmt */
.align-xs-top    { vertical-align: none   !important; }
.align-xs-middle { vertical-align: none !important; }
.align-xs-bottom { vertical-align: none !important; }
.align-xs-right  { text-align: right  !important; }
.align-xs-center { text-align: center !important; }
.align-xs-left   { text-align: left   !important; }
@media ( min-width: 768px ) {
    .align-sm-top    { vertical-align: top    !important; }
    .align-sm-middle { vertical-align: middle !important; }
    .align-sm-bottom { vertical-align: bottom !important; }
    .align-sm-right  { text-align: right  !important; }
    .align-sm-center { text-align: center !important; }
    .align-sm-left   { text-align: left   !important; }
}
@media ( min-width: 992px ) {
    .align-md-top    { vertical-align: top    !important; }
    .align-md-middle { vertical-align: middle !important; }
    .align-md-bottom { vertical-align: bottom !important; }
    .align-md-right  { text-align: right  !important; }
    .align-md-center { text-align: center !important; }
    .align-md-left   { text-align: left   !important; }
}
@media ( min-width: 1200px ) {
    .align-lg-top    { vertical-align: top    !important; }
    .align-lg-middle { vertical-align: middle !important; }
    .align-lg-bottom { vertical-align: bottom !important; }
    .align-lg-right  { text-align: right  !important; }
    .align-lg-center { text-align: center !important; }
    .align-lg-left   { text-align: left   !important; }
}